html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}
.right-box {
    width: 225px;
    height: 60px;
    background-color: #152B55; /* dark blue */
    clip-path: polygon(30% 0, 100% 0, 100% 100%, 0% 100%);
    display: flex;
    justify-content: flex-end; /* push text to the right */
    align-items: center; /* vertically center */
    padding-right: 10px; /* small spacing from edge */
}
.carousel-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10; /* Ensure it’s above the image */
    color: #f8f9fa; /* White text */
}
.small-heading {
    font-size: 1rem; /* smaller text for mobile */
    font-weight: bold;
    color: #ffcc00;
}
.carousel-caption h5 {
    font-size: 35px;
    font-weight: 500;
    color: #ffcc00;
}
.mr-3,
.mx-3 {
    margin-right: 1rem !important;
}
a {
    color: #D19C97;
    text-decoration: none;
    background-color: transparent;
}


/* Start hidden */
.carousel-caption h5,
.carousel-caption p,
.carousel-caption a.btn {
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.8s ease-in-out;
}

/* When a slide is active + flagged to start animation */
.carousel-item.active.start-anim .carousel-caption h5 {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.5s; /* heading first */
}

.carousel-item.active.start-anim .carousel-caption p {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 1s; /* then paragraph */
}

.carousel-item.active.start-anim .carousel-caption a.btn {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 1.5s; /* then button */
}

/* Mobile: only show smaller heading */
@media (max-width: 767.98px) {
    .carousel-caption h5 {
        font-size: 1rem;
    }
}