<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta content="Uniform Uniforms Dubai ABU DHABI Golden Outfit Corner goldenoutfitcorner.com" name="keywords">
    <meta content="Golden Outfit Corner, We offering a wide range of uniform services, including security guard uniforms, school uniforms, and commercial uniforms, can be a lucrative and versatile business in Dubai, Sharjah - U.A.E" name="description">

    <title>@ViewData["Title"] - Golden Outfit Corner</title>
    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar fixed-top navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/images/logo.png" alt="Logo" width="60" height="54" class="d-inline-block align-text-top">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1" style="font-size: 16px; font-weight: bolder; color: #152B55">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: #152B55;">
                                Services
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="SecurityUniforms"> Security Uniforms </a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="HotelsUniforms"> Hotels Uniforms </a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="HospitalsUniforms"> Hospitals Uniforms </a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="SchoolUniforms"> School Uniforms </a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="SaloonUniforms"> Saloon Uniforms </a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="OfficeStaffUniforms"> Office Staff Uniforms </a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Printing"> Printing and Embroidery System </a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Fabric"> Premium Quality Fabric </a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="#our_values">Our Values</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="#our_clients">Our Valuable Clients</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="AboutUs">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="ContactUs">Contact Us</a>
                        </li>
                    </ul>
                    <span class="navbar-text right-box">
                        <a style="color: #f8f9fa" href="tel:+971551208217">call us: +971 55 1208217</a>
                    </span>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    
    <div b-ermmginw1o="" class="container-fluid text-light" style="background-color: #152B55;">
        <div b-ermmginw1o="" class="row px-xl-5 pt-4">
            <div class="col-lg-4 col-md-12 mb-5 pr-3 pr-xl-5">
                <a href="" class="text-decoration-none">
                    <img class="img-fluid w-50 rounded" src="~/images/logo.png">
                </a>
                <h4>
                    LET'S WORK TOGETHER
                </h4>
                <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i> AL Nadah - Sharjah - U.A.E</p>
                <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i> marketing@goldenoutfitcorner.com</p>
                <p class="mb-2"><i class="fa fa-phone-alt text-primary mr-3"></i> +971 55 1208217</p>
                <p class="mb-2"><i class="fa fa-phone-alt text-primary mr-3"></i> +971 6 5235153</p>
                <p class="mb-0"><i class="fab fa-facebook fa-lg text-primary mr-3"></i> <a href="https://www.facebook.com/Goldenoutfitcorner" target="_blank">facebook.com/Goldenoutfitcorner</a></p>
            </div>
            <div b-ermmginw1o="" class="col-lg-8 col-md-12">
                <div b-ermmginw1o="" class="row">
                    <div b-ermmginw1o="" class="col-md-4 mb-5">
                        <h5 b-ermmginw1o="" class="font-weight-bold text-light mb-4">Our Services</h5>
                        <div b-ermmginw1o="" class="d-flex flex-column justify-content-start">
                            <a class="text-light mb-2" asp-area="" asp-controller="Home" asp-action="SecurityUniforms"><i b-ermmginw1o="" class="fa fa-angle-right mr-2"></i> Security Uniforms</a>
                            <a class="text-light mb-2" asp-area="" asp-controller="Home" asp-action="HotelsUniforms"><i b-ermmginw1o="" class="fa fa-angle-right mr-2"></i> Hotels Uniforms</a>
                            <a class="text-light mb-2" asp-area="" asp-controller="Home" asp-action="HospitalsUniforms"><i b-ermmginw1o="" class="fa fa-angle-right mr-2"></i> Hospitals Uniforms</a>
                            <a class="text-light mb-2" asp-area="" asp-controller="Home" asp-action="SchoolUniforms"><i b-ermmginw1o="" class="fa fa-angle-right mr-2"></i> School Uniforms</a>
                            <a class="text-light mb-2" asp-area="" asp-controller="Home" asp-action="SaloonUniforms"><i b-ermmginw1o="" class="fa fa-angle-right mr-2"></i> Saloon Uniforms</a>
                            <a class="text-light mb-2" asp-area="" asp-controller="Home" asp-action="OfficeStaffUniforms"><i b-ermmginw1o="" class="fa fa-angle-right mr-2"></i> Office Staff Uniforms</a>
                            <a class="text-light mb-2" asp-area="" asp-controller="Home" asp-action="Printing"><i b-ermmginw1o="" class="fa fa-angle-right mr-2"></i> Our Printing and Embroidery System</a>
                            <a class="text-light mb-2" asp-area="" asp-controller="Home" asp-action="Fabric"><i b-ermmginw1o="" class="fa fa-angle-right mr-2"></i> Premium Quality Fabric</a>
                        </div>
                    </div>
                    <div b-ermmginw1o="" class="col-md-4 mb-5">
                        <h5 b-ermmginw1o="" class="font-weight-bold text-light mb-4">Quick Links</h5>
                        <div b-ermmginw1o="" class="d-flex flex-column justify-content-start">
                            <a class="text-light mb-2" href="/"><i b-ermmginw1o="" class="fa fa-angle-right mr-2"></i> Home</a>
                            <a class="text-light mb-2" asp-area="" asp-controller="Home" asp-action="AboutUs"><i b-ermmginw1o="" class="fa fa-angle-right mr-2"></i> About Us</a>
                            <a class="text-light mb-2" asp-area="" asp-controller="Home" asp-action="ContactUs"><i b-ermmginw1o="" class="fa fa-angle-right mr-2"></i> Contact Us</a>
                        </div>
                    </div>
                    <div b-ermmginw1o="" class="col-md-4 mb-5">
                        <h5 b-ermmginw1o="" class="font-weight-bold text-light mb-4">9:00 AM – 7:00 PM</h5>
                        <h6 b-ermmginw1o="" class="font-weight-bold text-light mb-4">Monday to Saturday</h6>
                    </div>
                </div>
            </div>
        </div>
        <div b-ermmginw1o="" class="row border-top border-light mx-xl-5 py-4">
            <div b-ermmginw1o="" class="col-md-8 px-xl-0">
                <p b-ermmginw1o="" class="mb-md-0 text-center text-md-left text-light">
                    © <a b-ermmginw1o="" class="text-light font-weight-semi-bold" href="#">GOLDEN OUTFIT CORNER.</a> All Rights Reserved. Designed and developed by +880 1743 875076
                </p>
            </div>
            <div b-ermmginw1o="" class="col-md-4 px-xl-0 text-center text-md-right">
                <img class="img-fluid" src="/theme/img/payments.png" alt="GOLDEN OUTFIT CORNER">
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
