@{
    ViewData["Title"] = "About Us";
}
<div class="d-flex flex-column align-items-center justify-content-center text-white bg-cover bg-dark-overlay"
     style="min-height: 200px; background-image: url('/images/menu.png');">

    <h1 class="font-weight-semi-bold text-uppercase mb-3">About Us</h1>
    <div class="d-inline-flex">
        <p class="m-0"><a href="/" class="text-white text-decoration-none">Home</a></p>
        <p class="m-0 px-2">-</p>
        <p class="m-0">About Us</p>
    </div>
</div>
<div class="container" style="background-color: #152B55;">
    <div class="row pt-3 pb-2">
        <div class="col-md-6" style="color: #fff">
            <h2 class="font-weight-semi-bold text-uppercase mb-3">Our Vision</h2>
            <p>
                Our Vision at Golden Outfit Corner is to be the leading destination for fashion-forward individuals who seek high-quality clothing and accessories. We believe in providing exceptional customer services and offering a curated selection of the latest styles and trends. Our goal is to empower our customers to express their personal sense of style and make a positive impact on the world through sustainable and ethical fashion choices.
            </p>
            <p>
                We offering a wide range of uniform services, including security guard uniforms, school uniforms, and commercial uniforms, can be a lucrative and versatile business.
            </p>
            <p>
                Our uniforms are designed to provide both comfort and professionalism for various industries. Made from durable materials, these uniforms ensure that employees can perform their duties effectively while maintaining a polished appearance. Available in various styles and sizes, our uniforms can be customized with company logos and patches to enhance brand identity.
            </p>
            <a asp-area="" asp-controller="Home" asp-action="ContactUs" class="btn btn-primary">Contact Us</a>
        </div>
        <div class="col-md-6">
            <img src="~/images/aboutus.jpg" class="img-fluid" />
        </div>
    </div>
</div>