@{
    ViewData["Title"] = "Contact Us";
}
<div class="d-flex flex-column align-items-center justify-content-center text-white bg-cover bg-dark-overlay"
     style="min-height: 200px; background-image: url('/images/menu.png');">

    <h1 class="font-weight-semi-bold text-uppercase mb-3">Contact Us</h1>
    <div class="d-inline-flex">
        <p class="m-0"><a href="/" class="text-white text-decoration-none">Home</a></p>
        <p class="m-0 px-2">-</p>
        <p class="m-0">Contact Us</p>
    </div>
</div>
<div class="container" style="background-color: #152B55;">
    <div class="row pt-3">
        <div class="col-md-6">
            <div b-lb2d8q00sf="" class="col-md-12 mb-2 pr-3 pr-xl-5 text-center" style="color: #fff; font-size: 17px;">
                <a b-lb2d8q00sf="" href="" class="text-decoration-none">
                    <img class="img-fluid w-30 rounded" src="/images/logo.png">
                </a>
                <h4 b-lb2d8q00sf="">
                    LET'S WORK TOGETHER
                </h4>
                <p b-lb2d8q00sf="" class="mb-2"><i b-lb2d8q00sf="" class="fa fa-map-marker-alt fa-lg text-primary mr-3"></i> Near Prime Medical Center, Al Nahda Sharjah - United Arab Emirates</p>
                <p b-lb2d8q00sf="" class="mb-2"><i b-lb2d8q00sf="" class="fa fa-envelope fa-lg text-primary mr-3"></i> goldenoutfitcorner22@gmail.com</p>
                <p b-lb2d8q00sf="" class="mb-2"><i b-lb2d8q00sf="" class="fa fa-envelope fa-lg text-primary mr-3"></i> contact@goldenoutfitcorner.com</p>
                <p b-lb2d8q00sf="" class="mb-2"><i b-lb2d8q00sf="" class="fa fa-phone-alt fa-lg text-primary mr-3"></i> +971 6 523 5153</p>
                <p b-lb2d8q00sf="" class="mb-2"><i b-lb2d8q00sf="" class="fa fa-phone-alt fa-lg text-primary mr-3"></i> +971 52 224 4964</p>
                <p b-lb2d8q00sf="" class="mb-0"><i b-lb2d8q00sf="" class="fab fa-facebook fa-lg text-primary mr-3"></i> <a b-lb2d8q00sf="" href="https://www.facebook.com/Goldenoutfitcorner" target="_blank">facebook.com/Goldenoutfitcorner</a></p>
                <p b-lb2d8q00sf="" class="mb-0"><i b-lb2d8q00sf="" class="text-primary mr-3"></i> We are open 9am to 2pm and 4pm to 11.30pm (Saturday-Thursday)</p>
                <p b-lb2d8q00sf="" class="mb-0"><i b-lb2d8q00sf="" class="text-primary mr-3"></i> 4pm to 11pm (Friday)</p>
            </div>
        </div>
        <div class="col-md-6 text-center">
            <h3 b-ermmginw1o="" class="font-weight-bold text-light">Mohammad Sanas</h3>
            <div b-ermmginw1o="" class="d-flex flex-column justify-content-start">
                <a href="https://wa.me/971555537414" class="mb-1" style="color: #fff; font-size: 20px;" target="_blank"><i class="fab fa-whatsapp-square"></i> +971 55 553 7414</a>
                <a href="" class="text-decoration-none">
                    <img class="img-fluid w-50 rounded" src="~/images/whatsapp_contact.jpg">
                </a>
            </div>
            @* <img src="~/images/contact-1.PNG" class="img-fluid rounded" /> *@
        </div>
    </div>
    <div class="row pt-3 pb-3">
        <div class="col-md-12 pb-2">
            @* <img src="~/images/contact-2.jpg" class="img-fluid" /> *@
        </div>
        <div class="col-md-12 pb-2">
            <div class="google-map">
                @* <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3631.2272826704802!2d54.3549547757189!3d24.4775806604708!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e5e6797d5eb4e5b%3A0xb93eef4ffbb37440!2sRamz%20Uniforms!5e0!3m2!1sen!2sbd!4v1716794909766!5m2!1sen!2sbd" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> *@
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3607.122747922282!2d55.370615199999996!3d25.300079699999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e5f5df8c174c2eb%3A0x5e7603ccc84fa0ef!2sGolden%20Outfit%20Corner%20Tailoring%20Est.!5e0!3m2!1sen!2sbd!4v1757230642281!5m2!1sen!2sbd" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
        
    </div>
</div>