@{
    ViewData["Title"] = "Premium Quality Fabric";
}
<div class="d-flex flex-column align-items-center justify-content-center text-white bg-cover bg-dark-overlay"
     style="min-height: 200px; background-image: url('/images/menu.png');">

    <h1 class="font-weight-semi-bold text-uppercase mb-3">Premium Quality Fabric</h1>
    <div class="d-inline-flex">
        <p class="m-0"><a href="/" class="text-white text-decoration-none">Home</a></p>
        <p class="m-0 px-2">-</p>
        <p class="m-0">Premium Quality Fabric</p>
    </div>
</div>
<div class="container" style="background-color: #152B55;">
    <div class="row pt-3 pb-3">
        <div class="col-md-4 pb-2">
            <img src="~/images/fabric_01.JPG" class="img-fluid" />
        </div>
        <div class="col-md-8 pb-2">
            <div style="color: #fff">
                <h2 class="custom-label">Honeycomb</h2>
                <p style="font-size: 20px;">
                    Our elegant collection of Honeycomb
                    Knitted Fabric is also known as waffle
                    fabric. It is made of cotton or microfiber
                    and is woven in a way which makes it very
                    absorbent. Offered fabric is knitted in
                    waffle weave that allows air to flow
                    through fabric so that it dries quickly. This
                    fabric is highly demanded in garment
                    industry for designing sportswear. It is
                    light in weight and provides extreme
                    comfort to wearer while jogging, playing,
                    doing work in factory or involve in outdoor
                    activities.
                </p>
                <a href="/Contact" class="btn btn-primary">Contact Us</a>
            </div>
        </div>
        <div class="col-md-4 pb-2">
            <img src="~/images/fabric_02.JPG" class="img-fluid" />
        </div>
        <div class="col-md-4 pb-2">
            <img src="~/images/fabric_03.JPG" class="img-fluid" />
        </div>
        <div class="col-md-4 pb-2">
            <img src="~/images/fabric_04.JPG" class="img-fluid" />
        </div>
        <div class="col-md-4 pb-2">
            <img src="~/images/fabric_05.JPG" class="img-fluid" />
        </div>
        <div class="col-md-8 pb-2">
            <div style="color: #fff">
                <p style="font-size: 20px;">
                    Ordinary honeycomb weave fabrics are
                    mostly used for absorbing cloths like hand
                    towels, glass cloths, dispensed roller towels,
                    and bath mats. Their moisture absorption
                    properties are useful for this.
                </p>
                <a href="/Contact" class="btn btn-primary">Contact Us</a>
            </div>
        </div>
       
    </div>
    <div class="row pt-3 pb-3" style="color: #fff">
        
        <div class="col-md-8 pb-2">
            <h2 class="custom-label">Cotton Dri-Fit</h2>
                <p style="font-size: 20px;">
                While there are many fabrics that have
                moisture-wicking properties within them,
                Dri Fit is usually a microfiber polyester
                blend that moves sweat quickly from your
                body to the exterior of your clothing. In
                general, Dri Fit is a term coined by Nike to
                describe the moisture-wicking properties
                that their clothing provides
                </p>
                <a href="/Contact" class="btn btn-primary">Contact Us</a>
        </div>
        <div class="col-md-4 pb-2">
            <img src="~/images/fabric_06.JPG" class="img-fluid" />
        </div>
        <div class="col-md-8 pb-2">
            <img src="~/images/fabric_07.JPG" class="img-fluid" style="width:88%"/>
        </div>
        <div class="col-md-4 pb-2">
            <img src="~/images/fabric_08.JPG" class="img-fluid" />
        </div>
    </div>
    <div class="row pt-3 pb-3" style="color: #fff">
        
        <div class="col-md-8 pb-2">
            <h2 class="custom-label">Fleece</h2>
            <p style="font-size: 20px;">
                Fleece fabric is one of the most versatile
                and dynamic materials available for
                making clothing, blankets, jackets, and
                other accessories. Fleece has become No1
                choice for UAE winter season clothing.
                Fleece has so many uses, we are sure
                you’ll enjoy the convenience of fleece
                availability in our store.
            </p>
            <a href="/Contact" class="btn btn-primary">Contact Us</a>
        </div>
        <div class="col-md-4 pb-2">
            <img src="~/images/fabric_09.JPG" class="img-fluid"/>
        </div>
        <div class="col-md-12 pb-2">
            <img src="~/images/fabric_10.JPG" class="img-fluid"/>
        </div>
        <div class="col-md-4 pb-2">
            <img src="~/images/fabric_11.JPG" class="img-fluid" />
        </div>
        <div class="col-md-8 pb-2">
            <p style="font-size: 20px;">
                Fleece is a synthetic insulating fabric
                typically made from a type of polyester
                called polyethylene terephthalate (PET) or
                other synthetic fibres. It is very
                comfortable due to its light weight and
                anti-perspiration qualities, and allows
                moisture to evaporate while blocking
                humidity from the outside
            </p>
            <a href="/Contact" class="btn btn-primary">Contact Us</a>
        </div>
    </div>
    <div class="row pt-3 pb-3" style="color: #fff">
        <div class="col-md-6 pb-2">
            <h2 class="custom-label">Single Fleece</h2>
            <p style="font-size: 20px;">
                Flaunt your style and taste with
                an explicit collection of single
                side fleece fabric found in
                Creative Fabric store. This
                particular single side fleece
                fabric has the potential to
                impress any aesthetic
            </p>
            <a href="/Contact" class="btn btn-primary">Contact Us</a>
        </div>
        
        <div class="col-md-6 pb-2">
            <h2 class="custom-label">Terry Fleece</h2>
            <p style="font-size: 20px;">
                Terry Fleece is a knit fabric similar
                to jersey, with loops on one side
                and soft piles of yarn on the side.
                This knit results in a soft and
                plush texture. Terry fleece is mid
                weight – lighter than cold
                weather sweatpants but heavier
                than your typical tee.
            </p>
            <a href="/Contact" class="btn btn-primary">Contact Us</a>
        </div>
    </div>
    <div class="row pt-3 pb-3" style="color: #fff">
        <div class="col-md-12 pb-2">
            <img src="~/images/fabric_12.JPG" class="img-fluid" />
        </div>
        <div class="col-md-12 pb-2">
            <img src="~/images/fabric_13.JPG" class="img-fluid" />
        </div>
        <div class="col-md-12 pb-2">
            <img src="~/images/fabric_14.JPG" class="img-fluid" />
        </div>
        <div class="col-md-12 pb-2">
            <p style="font-size: 20px;">
                Mesh is a loosely knitted type of fabric that has gone several
                development changes over the years. Now it is seen as an open hole
                material woven in a grid-shaped style. That design has made the
                material very versatile. The source fibers for this fabric style are usually
                polyester or nylon. Mesh has great permanent moister-wicking
                performance, Perfect for sublimation printing.
            </p>
            <a href="/Contact" class="btn btn-primary">Contact Us</a>
        </div>
    </div>
    </div>