@{
    ViewData["Title"] = "Hotels Uniforms";
}
<style>
    #demo {
        height: 100%;
        position: relative;
        overflow: hidden;
    }


    .green {
        background-color: #6fb936;
    }

    .thumb {
        margin-bottom: 30px;
    }

    .page-top {
        margin-top: 85px;
    }


    img.zoom {
        width: 100%;
        height: 200px;
        border-radius: 5px;
        object-fit: cover;
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out;
    }


    .transition {
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2);
    }

    .modal-header {
        border-bottom: none;
    }

    .modal-title {
        color: #000;
    }

    .modal-footer {
        display: none;
    }
</style>
<div class="d-flex flex-column align-items-center justify-content-center text-white bg-cover bg-dark-overlay"
     style="min-height: 200px; background-image: url('/images/menu.png');">

    <h1 class="font-weight-semi-bold text-uppercase mb-3">Hotels Uniforms</h1>
    <div class="d-inline-flex">
        <p class="m-0"><a href="/" class="text-white text-decoration-none">Home</a></p>
        <p class="m-0 px-2">-</p>
        <p class="m-0">Hotels Uniforms</p>
    </div>
</div>

<div class="container" style="background-color: #152B55;">
    <div class="row pt-3">
        <div class="col-md-4">
            <img src="~/images/hotel.jpg" class="img-fluid" />
        </div>
        <div class="col-md-8" style="color: #fff">
            <p>Our hotel uniforms are designed to provide both comfort and professionalism for hotel staff. Made from durable materials, these uniforms ensure that hotel employees can perform their duties effectively while maintaining a polished appearance. Available in various styles and sizes, our hotel uniforms can be customized with company logos and patches to enhance brand identity.</p>
            <p>Whether you need uniforms for front desk staff, housekeeping, or food service, we offer a range of options to suit your needs. Our collection includes shirts, pants, jackets, and accessories that are functional and stylish. Trust us to equip your hotel team with the best uniforms that combine safety, comfort, and style.</p>
            <a asp-area="" asp-controller="Home" asp-action="ContactUs" class="btn btn-primary">Contact Us</a>
        </div>
    </div>
    <div class=" row">
        <div class="col-md-6">
            <div class="text-center" style="color: #fff">
                <h2 class="font-weight-semi-bold text-uppercase mb-3">Hotels Uniforms</h2>
                <p>
                    Hotel uniforms play a significant role in the overall
                    presentation and branding of a hotel. They not only
                    contribute to the professional appearance of the staff
                    but also create a positive impression on guests
                </p>
                <p>
                    Uniforms are an essential aspect of hotel branding and
                    guest experience. They should be well-designed,
                    comfortable, and reflective of the hotel's image and
                    theme. Properly attired staff enhance the overall
                    ambiance and professionalism of the hotel, contributing
                    to a positive guest experience.
                </p>
                <a asp-area="" asp-controller="Home" asp-action="ContactUs" class="btn btn-primary">Contact Us</a>
            </div>
        </div>
        <div class="col-md-6">
            <img src="~/images/hotel-1.JPG" class="img-fluid" />
        </div>
    </div>

    <div class="row mt-4">


        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a href="~/images/hotel/apron.jpg" class="fancybox" rel="ligthbox">
                <img src="~/images/hotel/apron.jpg" class="zoom img-fluid " alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a href="~/images/hotel/waistcoat.jpeg" class="fancybox" rel="ligthbox">
                <img src="~/images/hotel/waistcoat.jpeg" class="zoom img-fluid " alt="">
            </a>
        </div>

        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a href="~/images/hotel/waiter.jpg" class="fancybox" rel="ligthbox">
                <img src="~/images/hotel/waiter.jpg" class="zoom img-fluid " alt="">
            </a>
        </div>

        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a href="~/images/hotel/cap.jpeg" class="fancybox" rel="ligthbox">
                <img src="~/images/hotel/cap.jpeg" class="zoom img-fluid " alt="">
            </a>
        </div>

        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a href="~/images/hotel/safe.jpeg" class="fancybox" rel="ligthbox">
                <img src="~/images/hotel/safe.jpeg" class="zoom img-fluid " alt="">
            </a>
        </div>

        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a href="~/images/hotel/Coat.jpg" class="fancybox" rel="ligthbox">
                <img src="~/images/hotel/Coat.jpg" class="zoom img-fluid " alt="">
            </a>
        </div>

        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a href="~/images/hotel/pant.jpg" class="fancybox" rel="ligthbox">
                <img src="~/images/hotel/pant.jpg" class="zoom img-fluid " alt="">
            </a>
        </div>

        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a href="~/images/hotel/blaser.jpg" class="fancybox" rel="ligthbox">
                <img src="~/images/hotel/blaser.jpg" class="zoom img-fluid " alt="">
            </a>
        </div>
    </div>
</div>
@section scripts {
<script>
    $(document).ready(function(){
      $(".fancybox").fancybox({
            openEffect: "none",
            closeEffect: "none"
        });

        $(".zoom").hover(function(){

      $(this).addClass('transition');
     }, function(){

      $(this).removeClass('transition');
     });
    });
</script>
}