@{
    ViewData["Title"] = "Kandora";
}
<div class="d-flex flex-column align-items-center justify-content-center text-white bg-cover bg-dark-overlay"
     style="min-height: 200px; background-image: url('/images/menu.png');">

    <h1 class="font-weight-semi-bold text-uppercase mb-3">Kandora</h1>
    <div class="d-inline-flex">
        <p class="m-0"><a href="/" class="text-white text-decoration-none">Home</a></p>
        <p class="m-0 px-2">-</p>
        <p class="m-0">Kandora</p>
    </div>
</div>
<div class="container" style="background-color: #152B55;">
    <div class="row row-cols-1 row-cols-md-4 g-4 mt-3 pb-2">
        <div class="col">
            <div class="card h-100">
                <img src="~/images/kandora/kandora_uae.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"></h5>
                </div>
                <div class="card-footer">
                    <small class="text-muted">UAE Kandora</small>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="~/images/kandora/kandora_oman.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"></h5>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Oman Kandora</small>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="~/images/kandora/kandora_Saudi.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"></h5>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Saudi Kandora</small>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="~/images/kandora/kandora_Arabic.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"></h5>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Arabic Kandora</small>
                </div>
            </div>
        </div>
    </div>
</div>
