@{
    ViewData["Title"] = "Office Staff Uniforms";
}
<div class="d-flex flex-column align-items-center justify-content-center text-white bg-cover bg-dark-overlay"
     style="min-height: 200px; background-image: url('/images/menu.png');">

    <h1 class="font-weight-semi-bold text-uppercase mb-3">Office Staff Uniforms</h1>
    <div class="d-inline-flex">
        <p class="m-0"><a href="/" class="text-white text-decoration-none">Home</a></p>
        <p class="m-0 px-2">-</p>
        <p class="m-0">Office Staff Uniforms</p>
    </div>
</div>

<div class="container" style="background-color: #152B55;">
    <div class="row pt-3">
        <div class="col-md-12">
            <h4 style="color: #fff">
                Office staff uniforms are designed to create a cohesive and
                professional image for employees in a corporate or business
                environment
            </h4>
        </div>
        <div class="col-md-12 text-center">
            <img src="~/images/office-1.JPG" class="img-fluid" />
        </div>
    </div>
    <div class="row pt-3 pb-3">
        <div class="col-md-4 pb-2">
            <img src="~/images/office-2.JPG" class="img-fluid" />
        </div>
        <div class="col-md-8 pb-2">
            <div class="text-center" style="color: #fff">
                <h2 class="font-weight-semi-bold text-uppercase mb-3">Office Staff Uniforms</h2>
                <p>
                    Office staff uniforms are not only about
                    appearance but also contribute to a
                    sense of unity and professionalism
                    within the workplace. They help create a
                    cohesive team atmosphere and reflect
                    positively on the company's image
                    when interacting with clients, customers,
                    or partners. Additionally, having a dress
                    code can eliminate uncertainty about
                    appropriate
                    workwear,
                    employees
                    to
                    focus
                    allowing
                    on their
                    responsibilities with confidence and
                    ease.
                </p>
            </div>
        </div>
        <div class="col-md-4">
            <img src="~/images/office-3.JPG" class="img-fluid" />
        </div>
        <div class="col-md-8">
            <div class="text-center" style="color: #fff">
                <p>
                    Office staff uniforms can vary
                    depending on the industry, company culture,
                    and specific job roles. Common elements of
                    office staff uniforms may include:
                    Dress shirts or blouses, Trousers or skirts,
                    Blazers or jackets, Ties or scarves,
                    Name tags or badges, Comfortable and
                    professional footwear.
                </p>
                <a href="/Contact" class="btn btn-primary">Contact Us</a>
            </div>
        </div>
    </div>
</div>