@{
    ViewData["Title"] = "Printing and Embroidery System";
}
<div class="d-flex flex-column align-items-center justify-content-center text-white bg-cover bg-dark-overlay"
     style="min-height: 200px; background-image: url('/images/menu.png');">

    <h1 class="font-weight-semi-bold text-uppercase mb-3">Printing and Embroidery System</h1>
    <div class="d-inline-flex">
        <p class="m-0"><a href="/" class="text-white text-decoration-none">Home</a></p>
        <p class="m-0 px-2">-</p>
        <p class="m-0">Printing and Embroidery System</p>
    </div>
</div>

<div class="container" style="background-color: #152B55;">
    <div class="row pt-3 pb-3">
        <div class="col-md-4 pb-2">
            <img src="~/images/printing_01.PNG" class="img-fluid" />
        </div>
        <div class="col-md-8 pb-2">
            <div style="color: #fff">
                <h2 class="font-weight-semi-bold text-uppercase mb-3">Embroidery</h2>
                <p style="font-size: 20px;">
                    Give you excellent services. Embroidery is an excellent
                    technique as its ideal for all types of garments from corporate
                    clothing Uniforms, workwear and any other types of clothing
                    that you can think of from large organizations to small
                    business. Embroidery is the perfect way to customize your
                    clothing and ensure that your band name and logo are
                    represented perfectly.
                </p>
                <a href="/Contact" class="btn btn-primary">Contact Us</a>
            </div>
        </div>
        <div class="col-md-4 pb-2">
            <img src="~/images/printing_02.PNG" class="img-fluid" />
        </div>
        <div class="col-md-8 pb-2">
            <div style="color: #fff">
                <h2 class="font-weight-semi-bold text-uppercase mb-3">Screen Prinitng</h2>
                <p style="font-size: 20px;">
                    Screen printing is a method of printing that involves creating a
                    stencil (Screen) and using it to apply ink or other printing
                    medium onto a surface (Typically fabric, paper or plastic) in
                    screen printing a desired design. Golden Outfit Corner uniforms
                    have the wide range of printing facilities in house factory. From
                    traditional silk screen printing to DTF and heat transfer printing
                    every solution is available to bring your imagination to reality.
                </p>
                <a href="/Contact" class="btn btn-primary">Contact Us</a>
            </div>
        </div>
        <div class="col-md-4 pb-2">
            <img src="~/images/printing_03.PNG" class="img-fluid" />
        </div>
        <div class="col-md-8 pb-2">
            <div style="color: #fff">
                <h2 class="font-weight-semi-bold text-uppercase mb-3">Vinyl Transfer</h2>
                <p style="font-size: 20px;">
                    A popular t-shirt printing technique using heat transfer
                    machine with high level elasticity, vibrancy and durability. We
                    suggest this method on short run projects such as events,
                    uniforms and sports jerseys.
                </p>
                <a href="/Contact" class="btn btn-primary">Contact Us</a>
            </div>
        </div>
        <div class="col-md-4 pb-2">
            <img src="~/images/printing_04.PNG" class="img-fluid" />
        </div>
        <div class="col-md-8 pb-2">
            <div style="color: #fff">
                <h2 class="font-weight-semi-bold text-uppercase mb-3">Sublimation printing</h2>
                <p style="font-size: 20px;">
                    Sublimation shirt printing is a specific process of printing that
                    first involves printing onto a special sheet of paper, then
                    transferring that image onto another material (usually
                    polyester or a polyester mix). The ink is then heated until it
                    disintegrates into the fabric.
                </p>
                <a href="/Contact" class="btn btn-primary">Contact Us</a>
            </div>
        </div>
    </div>
</div>