@{
    ViewData["Title"] = "Saloon Uniforms";
}
<div class="d-flex flex-column align-items-center justify-content-center text-white bg-cover bg-dark-overlay"
     style="min-height: 200px; background-image: url('/images/menu.png');">

    <h1 class="font-weight-semi-bold text-uppercase mb-3">Saloon Uniforms</h1>
    <div class="d-inline-flex">
        <p class="m-0"><a href="/" class="text-white text-decoration-none">Home</a></p>
        <p class="m-0 px-2">-</p>
        <p class="m-0">Saloon Uniforms</p>
    </div>
</div>

<div class="container" style="background-color: #152B55;">
    <div class="row pt-3">
        <div class="col-md-6" style="color: #fff">
            <p>
                Comfort and style- saloon
                uniforms look stylish and
                professional from a customer’s
                point of view and ensure that
                your staff are also comfortable
                during their shift, simplicity
                having a set uniform makes its
                easier on staff, because it stops
                them worrying about what to
                wear.
            </p>
            <p>
                Saloon uniforms are designed to provide both comfort and professionalism for saloon staff. Made from durable materials, these uniforms ensure that saloon employees can perform their duties effectively while maintaining a polished appearance. Available in various styles and sizes, our saloon uniforms can be customized with company logos and patches to enhance brand identity.
            </p>
            <a asp-area="" asp-controller="Home" asp-action="ContactUs" class="btn btn-primary">Contact Us</a>
        </div>
        <div class="col-md-6">
            <img src="~/images/Saloon-1.JPG" class="img-fluid" />
        </div>
    </div>
    <div class="row pt-3">
        <div class="col-md-8">
            <img src="~/images/Saloon-2.JPG" class="img-fluid" />
        </div>
        <div class="col-md-4">
            <div class="text-center" style="color: #fff">
                <h2 class="font-weight-semi-bold text-uppercase mb-3">Saloon Uniforms</h2>
                <p>
                    Saloon uniforms play a significant role in the overall
                    presentation and branding of a saloon. They not only
                    contribute to the professional appearance of the staff
                    but also create a positive impression on customers.
                </p>
                <a asp-area="" asp-controller="Home" asp-action="ContactUs" class="btn btn-primary">Contact Us</a>
            </div>
        </div>
        
    </div>
</div>