@{
    ViewData["Title"] = "Security Uniforms";
}
<div class="d-flex flex-column align-items-center justify-content-center text-white bg-cover bg-dark-overlay"
     style="min-height: 200px; background-image: url('/images/menu.png');">

    <h1 class="font-weight-semi-bold text-uppercase mb-3">Security Uniforms</h1>
    <div class="d-inline-flex">
        <p class="m-0"><a href="/" class="text-white text-decoration-none">Home</a></p>
        <p class="m-0 px-2">-</p>
        <p class="m-0">Security Uniforms</p>
    </div>
</div>

<div class="container">
    <div class=" row">
        <div class="col-md-4">
            <img src="~/images/secuirty_uniforms_1.jpg" class="img-fluid"/>
        </div>
        <div class="col-md-8">
            @* <h2 class="font-weight-semi-bold text-uppercase mb-3">Security Uniforms</h2> *@
            <p>Our security uniforms are designed to provide both comfort and professionalism for security personnel. Made from durable materials, these uniforms ensure that security staff can perform their duties effectively while maintaining a polished appearance. Available in various styles and sizes, our security uniforms can be customized with company logos and patches to enhance brand identity.</p>
            <p>Whether you need uniforms for corporate security, event security, or personal protection services, we offer a range of options to suit your needs. Our collection includes shirts, pants, jackets, and accessories that are functional and stylish. Trust us to equip your security team with the best uniforms that combine safety, comfort, and style.</p>
            <a asp-area="" asp-controller="Home" asp-action="ContactUs" class="btn btn-primary">Contact Us</a>
        </div>
    </div>
    <div class=" row">
        <div class="col-md-6" style="background-color: #152B55;">
            <div class="text-center" style="color: #fff">
                <h2 class="font-weight-semi-bold text-uppercase mb-3">Security Uniforms</h2>
                <p>
                    such as Shirts with epaulette, Pants,
                    Bouncers Polo Shirts with lots of quality
                    fabrics selectin coupled with logo
                    embroidery and printing production. We
                    ensure availability and quality of uniforms
                    at the very best price for our customers.
                </p>
                <a asp-area="" asp-controller="Home" asp-action="ContactUs" class="btn btn-primary">Contact Us</a>
            </div>
        </div>
        <div class="col-md-6">
            <img src="~/images/security_uniforms-2.JPG" class="img-fluid" />
        </div>
    </div>
</div>
